.header {
  width: 100%;
  min-height: 50px;
  padding: 10px 32px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header_user {
  margin: 0;
  color: var(--orange);
}

.header_out-link {
  margin-left: 25px;
  display: block;
  text-decoration: underline;
}
