.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  min-height: 50px;
  margin-bottom: 25px;
  padding: 10px 32px;

  background-color: rgba($color: #ffffff, $alpha: 0.7);
}

.header__user {
  margin: 0;

  color: var(--orange);
}

.header__out-link {
  display: block;
  margin-left: 25px;

  text-decoration: underline;
}
