.stat-item {
  display: grid;
  align-items: center;
  min-width: calc(var(--scroll-media-width) - var(--filter_width));
  min-height: 50px;
  padding: 10px;

  column-gap: 15px;

  border-bottom: 1px solid var(--border-color);

  grid-template-columns: 50px repeat(6, 1fr);
  justify-items: center;

  @media (max-width: $scroll-media-width) {
    min-width: auto;
  }
}

.stat-item__image-inner {
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.stat-item__name {
  display: flex;
  align-items: center;

  font-weight: 600;

  grid-column: span 2;
  justify-self: start;
}

.stat-item__growth {
  color: var(--green);
}

.stat-item__growth-percent {
  font-size: 0.75em;
}

.stat-item__coverage {
  display: flex;
  align-items: center;

  &--lock {
    position: relative;

    pointer-events: none;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      width: 16px;
      height: 16px;

      background-image: url("../img/svg/lock.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 15px;
      transform: translate(-50%, -50%);
    }
  }
}

.stat-item__visitors {
  display: flex;
  align-items: center;

  &--lock {
    position: relative;

    pointer-events: none;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      width: 16px;
      height: 16px;

      background-image: url("../img/svg/lock.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 15px;
      transform: translate(-50%, -50%);
    }
  }
}
