.stat-list {
  @include reset-list;

  background-color: var(--light);
  border: 1px solid var(--border-color);
  border-bottom: none;
  border-top: none;

  @media (max-width: $scroll-media-width) {
    overflow: scroll;
  }
}
