.table-head {
  width: 100%;
  max-width: 1200px;
  position: relative;

  font-weight: 700;
  display: grid;
  grid-template-columns: 1fr var(--filter_width);

  background-color: var(--head-bg-color);
  border: 1px solid var(--border-color);
  border-bottom: none;
}

// .table-head__wrap {
//   @media (max-width: $scroll-media-width) {
//     overflow: scroll;
//   }
// }

.table-head__content {
  display: grid;
  min-width: calc(var(--scroll-media-width) - var(--filter_width));
  padding: 10px;

  column-gap: 15px;

  grid-template-columns: 50px repeat(6, 1fr);
  justify-items: center;

  @media (max-width: $scroll-media-width) {
    min-width: auto;
  }
}

.table-head__name {
  grid-column: 2 / span 2;
  justify-self: start;
}

.table-head__link {
  transition: color 0.3s ease, filter 0.3s ease;
  cursor: pointer;
  margin: 16px 0;

  &:hover,
  &:focus {
    color: var(--orange);
  }

  &:active {
    filter: hue-rotate(-147deg);
  }
}
