$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$scroll-bar-color: #161616;

$scroll-media-width: 1000px;


:root {
  --font: "Open Sans", sans-serif;
  --gold: #ffd139;
  --dark: #161616;
  --red: #ff4141;
  --light: #ffffff;
  --gray: #f9f9f9;
  --green: #44d564;
  --blue: #2763fe;
  --dark-blue: #4564b3;
  --border-color: #d9d9d9;
  --head-bg-color: #edf3f1;
  --input-bg-color: #f1f1ec;
  --border-form-color: #e1eff5;
  --submit-color: #b5e2f5;
  --submit-hover-color: #67bee3;
  --submit-active-color: #23a9e3;
  --active-pagination-link-color: #23a7a2;
  --pink: #ff4e8d;
  --orange: #ff7337;
  --violet: #bf56ff;
  --pampas: #f4f0ec;
}
